html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Устанавливаем размер canvas на 100% ширины и высоты */
/* #canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
} */